model/src/main/resources/contract/Movement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:movement="urn:movement.schema.fisheries.ec.europa.eu:v1" 
            xmlns:asset="urn:asset.movement.schema.fisheries.ec.europa.eu:v1"
            xmlns:mobterm="urn:mobileterminal.movement.schema.fisheries.ec.europa.eu:v1"
            targetNamespace="urn:movement.schema.fisheries.ec.europa.eu:v1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns="http://schemas.xmlsoap.org/wsdl/">
    
    <xsd:import namespace="urn:asset.movement.schema.fisheries.ec.europa.eu:v1" schemaLocation="Asset.xsd"/>
    <xsd:import namespace="urn:mobileterminal.movement.schema.fisheries.ec.europa.eu:v1" schemaLocation="MobileTerminal.xsd"/>
    
    <xsd:simpleType name="SegmentCategoryType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="GAP"/>
            <xsd:enumeration value="JUMP"/>
            <xsd:enumeration value="IN_PORT"/>
            <xsd:enumeration value="EXIT_PORT"/>
            <xsd:enumeration value="ENTER_PORT"/>
            <xsd:enumeration value="NULL_DUR"/>
            <xsd:enumeration value="ANCHORED"/>
            <xsd:enumeration value="LOW_SPEED"/>
            <xsd:enumeration value="OTHER"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="MovementActivityTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="COE"/>
            <xsd:enumeration value="COX"/>
            <xsd:enumeration value="TRA"/>
            <xsd:enumeration value="POR"/>
            <xsd:enumeration value="CAN"/>
            <xsd:enumeration value="NOT"/>
            <xsd:enumeration value="AUT"/>
            <xsd:enumeration value="SUS"/>
            <xsd:enumeration value="COB"/>
            <xsd:enumeration value="CAT"/>
            <xsd:enumeration value="RET"/>
            <xsd:enumeration value="OBR"/>
            <xsd:enumeration value="ANC"/>
            <xsd:enumeration value="DRI"/>
            <xsd:enumeration value="FIS"/>
            <xsd:enumeration value="HAU"/>
            <xsd:enumeration value="PRO"/>
            <xsd:enumeration value="STE"/>
            <xsd:enumeration value="TRX"/>
            <xsd:enumeration value="OTH"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="MovementTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="POS"/>
            <xsd:enumeration value="ENT"/>
            <xsd:enumeration value="EXI"/>
            <xsd:enumeration value="MAN"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="MovementSourceType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INMARSAT_C"/>
            <xsd:enumeration value="AIS"/>
            <xsd:enumeration value="IRIDIUM"/>
            <xsd:enumeration value="MANUAL"/>
            <xsd:enumeration value="OTHER"/>
            <xsd:enumeration value="NAF"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="MovementComChannelType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FLUX"/>
            <xsd:enumeration value="MANUAL"/>
            <xsd:enumeration value="NAF"/>
            <xsd:enumeration value="MOBILE_TERMINAL"/>
            <xsd:enumeration value="AIS"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="TempMovementStateEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DRAFT"/>
            <xsd:enumeration value="SENT"/>
            <xsd:enumeration value="DELETED"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="MovementBaseType">
        <xsd:sequence>
            <xsd:element name="guid" type="xsd:string"/>
            <xsd:element name="connectId" type="xsd:string"/>
            <xsd:element name="assetId" type="asset:AssetId"/>
            <xsd:element name="position" type="movement:MovementPoint"/>
            <xsd:element name="positionTime" type="xsd:dateTime"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="reportedSpeed" type="xsd:double" nillable="true"/>
            <xsd:element name="reportedCourse" type="xsd:double" nillable="true"/>
            <xsd:element name="movementType" type="movement:MovementTypeType"/>
            <xsd:element name="source" type="movement:MovementSourceType"/>
            <xsd:element name="activity" type="movement:MovementActivityType"/>
            <xsd:element name="tripNumber" type="xsd:double" nillable="true"/>
            <xsd:element name="internalReferenceNumber" type="xsd:string"/>

            <xsd:element name="processed" type="xsd:boolean" />
            <xsd:element name="duplicate" type="xsd:boolean" />
            <xsd:element name="duplicates" type="xsd:string" />


        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MovementType">
        <xsd:complexContent>
            <xsd:extension base="movement:MovementBaseType">
                <xsd:sequence>
                    <xsd:element name="calculatedCourse" type="xsd:double" nillable="true"/>
                    <xsd:element name="calculatedSpeed" type="xsd:double" nillable="true"/>
                    <xsd:element name="comChannelType" type="movement:MovementComChannelType"/>
                    <xsd:element name="segmentIds" type="xsd:string"  minOccurs="1" maxOccurs="2"/>
                    <xsd:element name="metaData" type="movement:MovementMetaData"/>
                    <xsd:element name="wkt" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="MovementMetaData">
        <xsd:sequence>
            <xsd:element name="closestPort" type="movement:ClosestLocationType"/>
            <xsd:element name="closestCountry" type="movement:ClosestLocationType"/>
            <xsd:element name="areas" type="movement:MovementMetaDataAreaType"  minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="previousMovementId" type="xsd:string"/>
            <xsd:element name="fromSegmentType" type="movement:SegmentCategoryType"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="RemoteIdType" abstract="true">
        <xsd:sequence>
            <xsd:element name="remoteId" type="xsd:string"/>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ClosestLocationType">
        <xsd:complexContent>
            <xsd:extension base="movement:RemoteIdType">
                <xsd:sequence>
                    <xsd:element name="distance" type="xsd:double" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="MovementMetaDataAreaType">
        <xsd:complexContent>
            <xsd:extension base="movement:RemoteIdType">
                <xsd:sequence>
                    <xsd:element name="areaType" type="xsd:string"/>
                    <xsd:element name="transitionType" type="movement:MovementTypeType"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="TempMovementType">
        <xsd:sequence>
            <xsd:element name="guid" type="xsd:string"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="time" type="xsd:string"/> <!-- type="xsd:dateTime" ??? -->
            <xsd:element name="speed" type="xsd:double" nillable="true"/>
            <xsd:element name="course" type="xsd:double" nillable="true"/>
            <xsd:element name="updatedTime" type="xsd:string"/>
            <xsd:element name="position" type="movement:MovementPoint"/>
            <xsd:element name="asset" type="asset:VesselType"/>
            <xsd:element name="state" type="movement:TempMovementStateEnum"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="MovementActivityType">
        <xsd:sequence>
            <xsd:element name="messageType" type="movement:MovementActivityTypeType"/>
            <xsd:element name="messageId" type="xsd:string"/>
            <xsd:element name="callback" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MovementSegment">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="trackId" type="xsd:string"/>
            <xsd:element name="category" type="movement:SegmentCategoryType"/>
            <xsd:element name="distance" type="xsd:double" nillable="true"/>
            <xsd:element name="duration" type="xsd:double" nillable="true"/>
            <xsd:element name="speedOverGround" type="xsd:double" nillable="true"/>
            <xsd:element name="courseOverGround" type="xsd:double" nillable="true"/>
            <xsd:element name="wkt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MovementTrack">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="distance" type="xsd:double" nillable="true"/>
            <xsd:element name="duration" type="xsd:double" nillable="true"/>
            <xsd:element name="totalTimeAtSea" type="xsd:double" nillable="true"/>
            <xsd:element name="wkt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MovementPoint">
        <xsd:sequence>
            <xsd:element name="longitude" type="xsd:double" nillable="true"/>
            <xsd:element name="latitude" type="xsd:double" nillable="true"/>
            <xsd:element name="altitude" type="xsd:double" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>