model/src/main/resources/contract/MovementModuleService.wsdl

<definitions name="ModuleObjectModule"
             targetNamespace="urn:module.movement.schema.fisheries.ec.europa.eu:v1"
             xmlns:module="urn:module.movement.schema.fisheries.ec.europa.eu:v1"
             xmlns:search="urn:search.movement.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.movement.schema.fisheries.ec.europa.eu:v1"
             xmlns:movement="urn:movement.schema.fisheries.ec.europa.eu:v1"
             xmlns:asset="urn:asset.movement.schema.fisheries.ec.europa.eu:v1"
             xmlns:area="urn:area.movement.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="urn:module.movement.schema.fisheries.ec.europa.eu:v1">
            
            <xsd:import namespace="urn:common.movement.schema.fisheries.ec.europa.eu:v1" schemaLocation="MovementCommon.xsd"/>
            <xsd:import namespace="urn:search.movement.schema.fisheries.ec.europa.eu:v1" schemaLocation="MovementSearch.xsd"/>
            <xsd:import namespace="urn:movement.schema.fisheries.ec.europa.eu:v1" schemaLocation="Movement.xsd"/>
            <xsd:import namespace="urn:area.movement.schema.fisheries.ec.europa.eu:v1" schemaLocation="Area.xsd"/>
            <xsd:import namespace="urn:asset.movement.schema.fisheries.ec.europa.eu:v1" schemaLocation="Asset.xsd"/>

            <!-- Mobile Terminal Base Request -->
            <xsd:simpleType name="MovementModuleMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="MOVEMENT_LIST"/>
                    <xsd:enumeration value="MOVEMENT_MAP"/>
                    <xsd:enumeration value="MOVEMENT_MAP_RPT"/>
                    <xsd:enumeration value="CREATE"/>
                    <xsd:enumeration value="CREATE_BATCH"/>
                    <xsd:enumeration value="GET_TRIP_BY_ID"/>
                    <xsd:enumeration value="GET_SEGMENT_BY_ID"/>
                    <xsd:enumeration value="PING"/>
                    <xsd:enumeration value="MOVEMENT_LIST_BY_AREA_TIME_INTERVAL"/>
                    <xsd:enumeration value="FILTER_GUID_LIST_FOR_DATE_BY_AREA"/>
                    <xsd:enumeration value="FORWARD_POSITION"/>
                    <xsd:enumeration value="FIND_RAW_MOVEMENTS"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:complexType name="MovementBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="module:MovementModuleMethod"/>
                    <xsd:element name="username" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- QueryList request -->
            <xsd:element name="getMovementListByQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:MovementQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getMovementListByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="movement" type="movement:MovementType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Get Movement Map By Query -->
            <xsd:element name="getMovementMapByQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:MovementQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getMovementMapByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>          
                        <xsd:element name="movementMap" type="search:MovementMapResponseType" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Create movement request -->
            <xsd:element name="createMovementRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="movement" type="movement:MovementBaseType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="createMovementResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="movement" type="movement:MovementType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Create movement batch request -->
            <xsd:element name="createMovementBatchRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="movement" type="movement:MovementBaseType" minOccurs="1" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="createMovementBatchResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="common:SimpleResponse" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="movements" type="movement:MovementType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindRawMovementsRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="movementGuids" type="xsd:string" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FindRawMovementsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="movement:MovementBaseType" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- forward position -->
            <xsd:element name="forwardPositionRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="movementGuids" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                                <xsd:element name="vesselIdentifyingProperties" type="asset:VesselIdentifyingProperties" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="receiver" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="dataflow" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="forwardPositionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="common:SimpleResponse" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="messageId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Get movement trip by id -->
            <xsd:element name="getMovementTripByIdRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="id" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getMovementTripByIdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="movement" type="movement:MovementSegment" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Get segment by Id -->
            <xsd:element name="getSegmentByIdRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="id" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getSegmentByIdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="movement" type="movement:MovementSegment"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- filter guid list by area and date -->
            <xsd:element name="FilterGuidListByAreaAndDateRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="area:GuidListForAreaFilteringQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="FilterGuidListByAreaAndDateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="filteredList" type="xsd:string"  minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Ping -->
            <xsd:element name="pingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getMovementListByAreaAndTimeIntervalRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:MovementBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="movementAreaAndTimeIntervalCriteria" type="search:MovementAreaAndTimeIntervalCriteria" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getMovementListByAreaAndTimeIntervalResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="movement" type="movement:MovementType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- response asynch SetMovementReportAck -->
            <xsd:element name="ProcessedMovementAck">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="common:AcknowledgeType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>
    
    <message name="MovementException">
        <part name="body" element="common:exceptionType"/>
    </message>
    
    <message name="GetMovementMapRequest">
        <part name="body" element="module:getMovementMapByQueryRequest"/>
    </message>
    <message name="GetMovementMapResponse">
        <part name="body" element="module:getMovementMapByQueryResponse"/>
    </message>
    
    <message name="GetMovementListRequest">
        <part name="body" element="module:getMovementListByQueryRequest"/>
    </message>
    <message name="GetMovementListResponse">
        <part name="body" element="module:getMovementListByQueryResponse"/>
    </message>
    
    <message name="CreateMovementRequest">
        <part name="body" element="module:createMovementRequest"/>
    </message>
    <message name="CreateMovementResponse">
        <part name="body" element="module:createMovementResponse"/>
    </message>
    
    <message name="CreateMovementBatchRequest">
        <part name="body" element="module:createMovementBatchRequest"/>
    </message>
    <message name="CreateMovementBatchResponse">
        <part name="body" element="module:createMovementBatchResponse"/>
    </message>

    <message name="ForwardPositionRequest">
        <part name="body" element="module:forwardPositionRequest"/>
    </message>
    <message name="ForwardPositionResponse">
        <part name="body" element="module:forwardPositionResponse"/>
    </message>
    
    <message name="GetMovementTripByIdRequest">
        <part name="body" element="module:getMovementTripByIdRequest"/>
    </message>
    <message name="GetMovementTripByIdResponse">
        <part name="body" element="module:getMovementTripByIdResponse"/>
    </message>
    
    <message name="GetSegmentByIdRequest">
        <part name="body" element="module:getSegmentByIdRequest"/>
    </message>
    <message name="GetSegmentByIdResponse">
        <part name="body" element="module:getSegmentByIdResponse"/>
    </message>
    
    <message name="PingRequest">
        <part name="body" element="module:pingRequest"/>
    </message>
    <message name="PingResponse">
        <part name="body" element="module:pingResponse"/>
    </message>

    <message name="GetMovementListByAreaAndTimeIntervalRequest">
        <part name="body" element="module:getMovementListByAreaAndTimeIntervalRequest"/>
    </message>
    <message name="GetMovementListByAreaAndTimeIntervalResponse">
        <part name="body" element="module:getMovementListByAreaAndTimeIntervalResponse"/>
    </message>

    <message name="FilterGuidListByAreaAndDateRequestMessage">
        <part name="body" element="module:FilterGuidListByAreaAndDateRequest"/>
    </message>
    <message name="FilterGuidListByAreaAndDateResponseMessage">
        <part name="body" element="module:FilterGuidListByAreaAndDateResponse"/>
    </message>

    <message name="ProcessedMovementAck">
        <part name="body" element="module:ProcessedMovementAck"/>
    </message>

    <portType name="MovementModulePortType">
        
        <operation name="GetMovementMap">
            <input message="module:GetMovementMapRequest"/>
            <output message="module:GetMovementMapResponse"/>
            <fault name="MovementException" message="module:MovementException"/>
        </operation>
        
        <operation name="GetMovementList">
            <input message="module:GetMovementListRequest"/>
            <output message="module:GetMovementListResponse"/>
            <fault name="MovementException" message="module:MovementException"/>
        </operation>
        
        <operation name="CreateMovement">
            <input message="module:CreateMovementRequest"/>
            <output message="module:CreateMovementResponse"/>
            <fault name="MovementException" message="module:MovementException"/>
        </operation>
        
        <operation name="CreateMovementBatch">
            <input message="module:CreateMovementBatchRequest"/>
            <output message="module:CreateMovementBatchResponse"/>
            <fault name="MovementException" message="module:MovementException"/>
        </operation>

        <operation name="ForwardPosition">
            <input message="module:ForwardPositionRequest"/>
            <output message="module:ForwardPositionResponse"/>
            <fault name="MovementException" message="module:MovementException"/>
        </operation>
        
        <operation name="GetTripById">
            <input message="module:GetMovementTripByIdRequest"/>
            <output message="module:GetMovementTripByIdResponse"/>
            <fault name="MovementException" message="module:MovementException"/>
        </operation>
        
        <operation name="GetSegmentById">
            <input message="module:GetSegmentByIdRequest"/>
            <output message="module:GetSegmentByIdResponse"/>
            <fault name="MovementException" message="module:MovementException"/>
        </operation>
        
        <operation name="Ping">
            <input message="module:PingRequest"/>
            <output message="module:PingResponse"/>
        </operation>

        <operation name="GetMovementListByAreaAndTimeInterval">
            <input message="module:GetMovementListByAreaAndTimeIntervalRequest"/>
            <output message="module:GetMovementListByAreaAndTimeIntervalResponse"/>
            <fault name="MovementException" message="module:MovementException"/>
        </operation>

        <!-- SetMovementReportAck -->
        <operation name="ProcessedMovement">
            <input message="module:ProcessedMovementAck"/>
            <fault name="MovementException" message="module:MovementException"/>
        </operation>

        <operation name="FilterGuidListByAreaAndDateOperation">
            <input message="module:FilterGuidListByAreaAndDateRequestMessage"/>
            <output message="module:FilterGuidListByAreaAndDateResponseMessage"/>
            <fault name="MovementException" message="module:MovementException"/>
        </operation>
    </portType>

    <binding name="MovementModuleSoapBinding" type="module:MovementModulePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="GetMovementList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovementException">
                <soap:fault name="MovementException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="CreateMovement">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovementException">
                <soap:fault name="MovementException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="CreateMovementBatch">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovementException">
                <soap:fault name="MovementException" use="literal"/>
            </fault>
        </operation>

        <operation name="ForwardPosition">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovementException">
                <soap:fault name="MovementException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetTripById">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovementException">
                <soap:fault name="MovementException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetSegmentById">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovementException">
                <soap:fault name="MovementException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetMovementMap">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovementException">
                <soap:fault name="MovementException" use="literal"/>
            </fault>
        </operation>

        <operation name="Ping">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="GetMovementListByAreaAndTimeInterval">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovementException">
                <soap:fault name="MovementException" use="literal"/>
            </fault>
        </operation>

        <operation name="ProcessedMovement">
            <input>
                <soap:body use="literal"/>
            </input>
            <fault name="MovementException">
                <soap:fault name="MovementException" use="literal"/>
            </fault>
        </operation>

        <operation name="FilterGuidListByAreaAndDateOperation">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovementException">
                <soap:fault name="MovementException" use="literal"/>
            </fault>
        </operation>
    </binding>

    <service name="MovementModuleService">
        <port name="MovementModulePortType" binding="module:MovementModuleSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>